#micro
	.feature
		height: 250px
		text-align: center
		.card-action
			a
				color: #fff
	nav.header
		overflow: auto
		height: auto
		background-color: transparent
		box-shadow: none
		.nav-wrapper
			overflow: auto
			height: auto
			
	a.brand-logo
		//left: 50%
		display: block
		position: relative
		margin: 0 auto
		width: 177px
		height: 83px
		
		//transform: translateX(-50%)
	ul#nav-mobile
		display: inline-block
		// margin: 0 auto
		// width: auto
		// margin-left: 50%
		// transform: translateX(-50%)
		position: relative
		height: auto
		overflow: auto
		text-align: center
		li
			background-color: transparent
			&.active
				background-color: transparent
				a
					font-weight: 500
					color: rgba(0,0,0,0.9)
			&:hover
				background-color: transparent
				a
					font-weight: 500
					color: rgba(0,0,0,0.9)

			a
				color: rgba(0,0,0,0.6)

form#login-card
	text-align: center 
	#forgot-pass
		a
	p
		text-align: center !important
	


	